<h2>NEW CELEBRITY</h2>

<form action="/celebrities" method="POST">
    <label for="name"><strong>Name</strong></label>
    <input type="text" placeholder="Enter Celebrity Name" name="name" required>

    <label for="occupation"><strong>Occupation</strong></label>
    <input type="text" placeholder="Enter Occupation" name="occupation" required>

    <label for="catchphrase"><strong>Catch Phrase</strong></label>
    <input type="text" placeholder="Enter Catch Phrase" name="catchPhrase" required>

  <button type="submit"><strong>Insert</strong></button>
</form>

<button class="btn-index btn-light"> <a href="/celebrities" class="font-weight-bold">return</a>
</button>
